<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Music finder</title>
</head>
<body>

<form action="/search" method="GET">
    <label for="category">Category:</label>
    <select name="type" id="type">
      <optgroup label="Artists">
        <option value="artist_most_popular">Popular songs</option>
        <option value="albums">Albums</option>
      </optgroup>
      <optgroup label="Recommendations">
        <option value="recommended_artists">Similar artists</option>
      </optgroup>
    </select>
    <br><br>
    <label for="id">Name:</label>
    <input name="id" />
    <br/>
    <br>
    <input type="submit" value="Search">
  </form>

</body>
</html>