<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Search result</title></head>
<style>
table, th, td {
 border:1px solid black;
}
</style>
<body>
<table style="width:100%">
<tr>
<th>Album</th>
<th>Number of tracks</th>
<th>Release date</th>
<th>Cover</th>
</tr><tr>
<td>The Complete BBC Sessions (Remastered)</td>
<td>33</td>
<td>2016-09-16</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273ce69f6900fa18dd689d2d45b width=100></td>
</tr>
<tr>
<td>Physical Graffiti (Deluxe Edition)</td>
<td>22</td>
<td>2015-02-24</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b2731e207b21d21078c0d27b3f9f width=100></td>
</tr>
<tr>
<td>Celebration Day</td>
<td>16</td>
<td>2012-11-19</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b27354bea3780cb998f903356012 width=100></td>
</tr>
<tr>
<td>Mothership (Remastered)</td>
<td>24</td>
<td>2007</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b27322f1b6c28ce5735646b2e569 width=100></td>
</tr>
<tr>
<td>How the West Was Won (Remaster)</td>
<td>18</td>
<td>2003-05-27</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b2737befecf74a075298cc93766c width=100></td>
</tr>
<tr>
<td>The Lost Sessions</td>
<td>18</td>
<td>1997</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273471f26b2813a74764efc6a7d width=100></td>
</tr>
<tr>
<td>Coda (Deluxe Edition)</td>
<td>23</td>
<td>1982-11-19</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b2733b7bf70364c3f8643723398e width=100></td>
</tr>
<tr>
<td>Coda (Remaster)</td>
<td>8</td>
<td>1982-11-19</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b27303e31c6840aa343b73bbfe84 width=100></td>
</tr>
<tr>
<td>In Through the out Door (Deluxe Edition)</td>
<td>14</td>
<td>1979-08-15</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b2730b4c9d84cc83626849bfbff0 width=100></td>
</tr>
<tr>
<td>In Through the out Door (Remaster)</td>
<td>7</td>
<td>1979-08-15</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b27315aa25b0b3b972a7be623605 width=100></td>
</tr>
</body>
</html>