<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Search result</title></head>
<style>
table, th, td {
 border:1px solid black;
}
</style>
<body>
<table style="width:100%">
<tr>
<th>Album</th>
<th>Number of tracks</th>
<th>Release date</th>
<th>Cover</th>
</tr><tr>
<td>Tattoo You (Super Deluxe)</td>
<td>46</td>
<td>2021-10-22</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b27306b22c84b37f280cbacdeffb width=100></td>
</tr>
<tr>
<td>Tattoo You</td>
<td>11</td>
<td>2021-10-22</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273cb208923fe4cc0e7d67000d9 width=100></td>
</tr>
<tr>
<td>A Bigger Bang (Live)</td>
<td>22</td>
<td>2021-07-09</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273e454edcacfa7bc87a4d114ef width=100></td>
</tr>
<tr>
<td>Steel Wheels Live</td>
<td>27</td>
<td>2020-09-25</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b2730202d6f3ac7b95e578539915 width=100></td>
</tr>
<tr>
<td>Goats Head Soup (Deluxe)</td>
<td>37</td>
<td>2020-09-04</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273aa4b9597399ef187074ee07b width=100></td>
</tr>
<tr>
<td>Bridges To Buenos Aires (Live)</td>
<td>22</td>
<td>2019-11-08</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273cc72fa5e108486e252044c19 width=100></td>
</tr>
<tr>
<td>Bridges To Bremen (Live)</td>
<td>22</td>
<td>2019-06-21</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273626ce6035cea9ff52727e1bc width=100></td>
</tr>
<tr>
<td>Honk (Deluxe)</td>
<td>47</td>
<td>2019-04-19</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273acb7f7039bbdfd01efcd148b width=100></td>
</tr>
<tr>
<td>Voodoo Lounge Uncut (Live)</td>
<td>28</td>
<td>2018-11-16</td>
<td><img src=https://i.scdn.co/image/ab67616d0000b273a8bfdfe600001ffb47a6b01b width=100></td>
</tr>
</body>
</html>